{% extends 'base.html' %}

{% block content %}
    <section id="bursary" class="register-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-offset-2">
					<h2>Bursary Application Form</h2>
					
					{% if submitted %}
					<p>Thank you for submitting an application</p>
					<a href="{% url 'dashboard' %}">Return to dasboard</a>
					{% else %}

					<form id = "bursary" method="post" action="/bursary/" enctype="multipart/form-data">

						{% csrf_token %}

						{{ bursary_form.as_ul}}

						<input class="btn btn-primary page-scroll" type="submit" name="submit" value="Submit" />

					</form>
					<div class="col-lg-12 center">
						<a class="btn btn-primary page-scroll" href="{% url 'home' %}">Cancel</a>
					</div>
					{% endif %}

				</div>
			</div>
		</div>
	</section>

{% endblock %}
