#sponsors img {
    max-width: 200px;
}

#guest-speakers img {
    max-width: 150px;
}
.h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.intro-section {
    padding-top: 18%;
    min-height: 500px;
}

.blog-section {
    background: #eee;
    padding-top: 25px;
    padding-bottom: 50px;
}

.programme-section {
    background: #fff;
    padding-top: 25px;
    padding-bottom: 50px;
}

.list-unstyled {
    padding-top 10px;
    text-align: center;
}

.list-unstyled li {
    padding: 5px;
}

.thumbnail-container {
    padding: 10px;
}

.center {
    text-align: center;
}

.btn-default {
    width: 80%;
    max-width: 300px;
    height: 50px;
    padding-top: 14px;
