div.brand h4{
	color: #fff;
}
#intro {
  background-image: url(../img/background-intro.png);
  background-size: auto;
}
.intro-text h1 a {
  font-size: 60px;
}
.intro-text p span {
  font-size: 30px;
  font-weight: 500;
}
body {
	background-color: blue;
}

.logo {
	max-width: 200px;
}
.section-heading h2 {
    font-size: 24px;
	font-weight: 500;
}
.box-team img {
    max-height: 100px;
}
a.fa-stack-1x, .fa-stack-2x {
	  position: absolute;
	    left: 0;
		  width: 100%;
		    text-align: center;
			  color: #7a7c7c;
		  }
