{% extends "admin/base.html" %}

{% block branding %}
<h1 id="site-name">PVSAT Admin</h1>
{% endblock %}

<script>
DateTimeShortcuts.overrideTimeOptions = function () {
    //Find the first time element
    timeElement = django.jQuery("ul.timelist li").eq(0).clone();
    originalHref = timeElement.find('a').attr('href');

    //remove all existing time elements
    django.jQuery("ul.timelist li").remove();

    //add new time elements representing those you want
    var i=0;
    for (i=0;i<=23;i++) {
        //use a regular expression to update the the link
        newHref = originalHref.replace(/Date\([^\)]*\)/g, "Date(1970,1,1," + i + ",0,0,0)");
        //update the text for the element
        timeElement.find('a').attr('href', newHref).text(i+"h");
        //Add the new element into the document
        django.jQuery("ul.timelist").append(timeElement.clone());
    }
}

addEvent(window, 'load', DateTimeShortcuts.overrideTimeOptions);
</script>
