{% extends "base.html" %}

{% block content %}
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>PVSAT-12</h1>
		    <h2>6 - 8 April 2016</h2>
			<h3><a href="{% url 'venue' %}">University of Liverpool, UK</a></h3>
            <p>Organized by <a href="http://www.uk-ises.org/">The Solar Energy Society (UK-ISES)</a></p>
		    <br />
			<p class="share">
			    <a href="https://twitter.com/pvsat12" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
			    <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
			    <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
			</p>
		    <ul class="list-unstyled">
		        <li><a class="btn btn-primary page-scroll" href="">Register Now!</a></li>
			<li><a class="btn btn-primary page-scroll" href="{% url 'submit_abstract' %}">Submit an Abstract</a></li>
			<li><a class="btn btn-primary page-scroll" href="{% url 'bursary' %}">Apply for a Bursary</a></li>
		    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <section id="blog" class="blog-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-offset-2">
                    <h2 class="center">Blog</h2>
                    <h3>{{articles.title}}</h4>
                    <p>{{articles.body|slice:":255"}} ...</p>
                </div>
            </div>
			<br />
			<div class="col-lg-12 center">
				<a class="btn btn-primary page-scroll" href="{% url 'articles' %}">Read More</a>
			</div>
        </div>
    </section>

    <section id="guest-speakers" class="programme-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
		    <h2 class="center">Guest Speakers</h2>
		    <ul class="list-unstyled">
			{% for speaker in speakers|slice:":4" %}
			<li class="col-sm-3">
			    <div class="thumbnail-container">
				<img class="profile-pic-lg" src="/media/{{speaker.pic}}" name="{{speaker.forename}} {{speaker.surname}}">
				<h4>{{speaker.forename}} {{speaker.surname}}</h4>
				<p>{{speaker.affiliation}}</p>
                <p title="{{speaker.title}}">"{{speaker.title|slice:":50"}} ..."
			    </div>
			</li>
			{% endfor %}
		    </ul>
                </div>
            </div>
			<br />
			<div class="col-lg-12 center">
				<a class="btn btn-primary page-scroll" href="{% url 'programme' %}">Full Programme</a>
			</div>
        </div>
        <ul>
    </section>

    <section id="sponsors" class="sponsor-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<h2 class="center">Sponsors</h2>
					<ul class="list-unstyled">
					{% for sponsor in sponsors %}
						<li class="col-sm-3">
							<div class="thumbnail-container">
								<a href="{{sponsor.url}}" target="_blank"><img src="/media/{{sponsor.logo}}" name="{{sponsor.name}}">
							</div>
						</li>
					{% endfor %}
					</ul>
                </div>
            </div>
			<br />
			<div class="col-lg-12 center">
				<a class="btn btn-primary page-scroll" href="{% url 'programme' %}#sponsors">Become a Sponsor!</a>
			</div>
        </div>
    </section>
{% endblock %}
