{% extends 'base.html' %}

{% block content %}
    <section id="register" class="dashboard-profile-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<h2>{{user.first_name}} {{user.last_name}}</h2>
					<img src="/media/{{profile.picture}}" name="{{user.first_name}} {{user.last_name}}">
					<h3>{{profile.affiliation}}</h3>
					<p>
						{% if profile.url %}
						<a href="{{profile.url}}" target="_blank"><i class="fa fa-globe fa-3x"></i></a>
						{% endif %}
						{% if profile.linkedin %}
						<a href="{{profile.linkedin}}" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
						{% endif %}
						{% if profile.twitter %}
						<a href="{{profile.twitter}}" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
						{% endif %}
					</p>
					{% if profile.bio %}
					<p class="bio">{{profile.bio}}</p>
					{% endif %}
					<div class="col-lg-12 center">
						<a class="btn btn-default page-scroll" href="{% url 'update_profile' %}">Update Profile</a>
					</div>
				</div>
			</div>
		</div>
	</section>

    <section id="abstracts" class="dashboard-abstract-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<h2>My Abstracts</h2>
					{% if abstracts %}
						<table class="tg">
						  <tr>
							<th class="tg-031e">id</th>
							<th class="tg-031e">Title</th>
							<th class="tg-031e">File</th>
							<th class="tg-031e">Status</th>
							<th class="tg-031e">Presentation</th>
						  </tr>
						{% for abstract in abstracts %}
						  <tr>
							  <td class="tg-4eph">{{abstract.id}}</td>
							  <td class="tg-4eph">{{abstract.title|slice:":50"}} ...</td>
							  <td class="tg-4eph">
								  {% if abstract.upload %}
								  <a href="/media/{{abstract.upload}}" target="_blank" >
									  <span class="glyphicon glyphicon-file"></span>
								  </a>
								  {% endif %}
							  </td>
							  <td class="tg-4eph">{{abstract.status}}</td>
							  <td class="tg-4eph">{{abstract.delivery}}</td>
						  </tr>
						{% endfor %}
						</table>		
					{% else %}
					    <p>No abstracts submitted<p>
				    {% endif %}
					<div class="col-lg-12 center">
						<a class="btn btn-default page-scroll" href="{% url 'submit_abstract' %}">Submit New Abstract</a>
					</div>
                </div>
            </div>
		</div>
    </section>
{% endblock %}
